extends layout.pug

block append head
  title='Short URLs'

block content
  h1 Short URLs
  table
    tr
      th Original URL
      th Short URL
      th Date Created
      th Visits
    each url in urls
      tr
        td 
          a(href=`${url.url}` target="_blank") #{url.url}
        td
          a.shorturl(href=`${url.shortUrl}` target="_blank" onclick="javascript:openUrl(this)") #{url.shortUrl}
        td #{url.dateCreatedAsText}
        td #{url.visits}
  
  script.
    function openUrl(link) {
      setTimeout(() => location.reload(), 500);
    }
